<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<pre>
    ■ hbs         →      simple hbs syntax      
    ■ hif         →      if condition           
    ■ helif       →      if else condition      
    ■ heach       →      each method            
    ■ hpar        →      partial method         
    ■ hun         →      unless method          
    ■ hcusfunc    →      Custom Helper function 
    ■ hlog        →      Hbs logger helper      
    ■ hlookup     →      Hbs lookup helper      
    ■ hwi         →      with condition         
</pre>


<h2>{{ homepage_label.heading }}</h2>
<h3>{{ homepage_label.descr }}</h3>
<img src="{{homepage_label.image}}" alt="image" width="600">